DS_Store
__pycache__/
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover


chinese_word_vectors/*
neg/
pos/
*.npy
*.keras
